{:aws
 {:dynamodb
  {:access-key "your-access-key"
   :secret-key "your-secret-key"
   :endpoint "https://us-west-something.amazonaws.com"
   :db-name :dev_SomeForm}
  :ses
  {:access-key "youraccesskey"
   :secret-key "yoursecretket"
   :endpoint "http://us-west-something.com"}}}
